body, p, a, header, div{
	margin: 0px;
	padding: 0px;
	font-family: tahoma;
}
body{
	background-image: url(../colorful_dots_on_black.jpg);
}

body > header{
	background: #ff0000; /* Old browsers */
background: -moz-linear-gradient(left,  #ff0000 0%, #ff0000 33%, #008000 33%, #008000 66%, #0000ff 66%, #0000ff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff0000), color-stop(33%,#ff0000), color-stop(33%,#008000), color-stop(66%,#008000), color-stop(66%,#0000ff), color-stop(100%,#0000ff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ff0000 0%,#ff0000 33%,#008000 33%,#008000 66%,#0000ff 66%,#0000ff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ff0000 0%,#ff0000 33%,#008000 33%,#008000 66%,#0000ff 66%,#0000ff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ff0000 0%,#ff0000 33%,#008000 33%,#008000 66%,#0000ff 66%,#0000ff 100%); /* IE10+ */
background: linear-gradient(to right,  #ff0000 0%,#ff0000 33%,#008000 33%,#008000 66%,#0000ff 66%,#0000ff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#0000ff',GradientType=1 ); /* IE6-9 */
text-align: center;
font-size: 60px;
width: 1581px;
height: 100px;
color: yellow;
font-weight: bold;
padding-bottom: 20px;

}
	body > aside{
		background-color: rgb(230, 230, 230);
		width: 315px;
		height: 330px;
		border-radius: 30px;
		margin-left: 15px;
		opacity: 0.9;
		margin-top: 40px;
		float: left;
	}
		body > aside > nav > header{
			text-decoration: underline;
			font-weight: bold;
			padding-top: 20px;
			padding-left: 30px;
			font-size: 20px;
			
		}
		body > aside > nav > ul{
			list-style-image: url(../pictures/bullet.png);
		}
			body > aside > nav > ul > li{
				line-height: 40px;
				width: 95%;
				border-radius: 10px;
			}
				body > aside > nav > ul > li > a{
					color: black;
					font-size: 20px;
					text-decoration: none;
				}
					body > aside > nav > ul > li > a:hover{
						cursor: default;
					}
				body > aside > nav > ul > li:nth-child(1):hover{
					margin-left: -27px;
					padding-left: 5px;
					background: red;
					list-style-position: inside;
				}
				body > aside > nav > ul > li:nth-child(2):hover{
					margin-left: -27px;
					padding-left: 5px;
					background: orange;
					list-style-position: inside;
				}
				body > aside > nav > ul > li:nth-child(3):hover{
					margin-left: -27px;
					padding-left: 5px;
					background: yellow;
					list-style-position: inside;
				}
				body > aside > nav > ul > li:nth-child(4):hover{
					margin-left: -27px;
					padding-left: 5px;
					background: green;
					list-style-position: inside;
				}
				body > aside > nav > ul > li:nth-child(5):hover{
					margin-left: -27px;
					padding-left: 5px;
					background: blue;
					list-style-position: inside;
				}
				body > aside > nav > ul > li:nth-child(6):hover{
					margin-left: -27px;
					padding-left: 5px;
					background: purple;
					list-style-position: inside;
				}
	body > section{
		margin-left: 380px;
		margin-top: 20px;
		width: 1163px;
	}
	body > section > article {
		background-color: rgba(230, 230, 230, 0.9);
		border-radius: 30px;
		margin-bottom: 20px;
		padding-top: 20px;
	}
		body > section > article > header{
			margin-bottom: 10px;
			line-height: 60px;
			width: 90%;
			margin: auto;
			font-size: 30px;
			border-radius: 10px;
			padding-left: 20px;
		}
		body > section > article > div{
			margin-left: 20px;
			width: 90%;
			margin: auto;
			margin-top: 15px;
		}
		body > section > article > footer{
			margin-left: 20px;
			width: 90%;
			margin: auto;
			margin-top: 5px;
			
		}
			body > section > article > div:first-line{
				font-style: italic;
			}
			body > section > article > div:first-letter{
				font-size: 80px;
			}
			body > section > article > footer > a{
				color: gray;
				font-style: italic;
			}
			span:lang(la) {
				font-style: italic;
				color: darkblue;
			}	
			span{
				display: inline-block;
				margin-left: 50px;
			}
			span:lang(la):after, span:lang(la):before {
				content: "\"";
			}
#webColors{
	background-color: red;
}
#webSafeColors{
	background-color: orange;
}
#RGB{
	background-color: yellow;
}
#RGBA{
	background-color: green;
}
#\#HSLHSV {
	background: blue;
}
#\#lorem {
	background: purple;
}